body {
    background-color: crimson;
    font-family: verdana;

    /* Scroll utseende */
    SCROLLBAR-FACE-COLOR: #FFFFFF;
    SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #000000;
    SCROLLBAR-3DLIGHT-COLOR: #000000;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #FFFFFF;
    SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
}

/* Textutseende */
.outerWrapper{
    background: #444445;
}
.header{
    background: #c0c0c0;
}
.filterWrapper{
    background: #ffffff;
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}
.filterResults{
    background: #f0f0f0;
    display: inline-block;
    flex-grow: 3;

}
.innerWrapper{
    background: #61482E;
    display: flex;
    justify-content: space-between;
}

li {
    font-size: 1.0em;
    font-family: Verdana;
}

h4{
    font-size: 1.0em;
    font-weight: bold;
    font-family: Verdana;
}
span{
    font-size: 1.0em;
    font-weight: normal;
    font-family: Verdana;
    vertical-align: center;
}


.fontstyle {
    font-family: verdana;
    font-size: 1.0em;
    font-style: normal;
    color: #444445;
    text-decoration: none;
}

.fontspacing {
    font-size:   10pt;
    line-height: 10pt;
}

/* Länkar */
a:link {
    font-family: verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #61482E;
    text-decoration: none;
}

/*a:hoover {*/
    /*font-family: Verdana;*/
    /*font-size: 1.1em;,,*/
/*font-style: normal;*/
    /*color: #CC9861;*/
    /*text-decoration: none;*/
/*}*/

a:visited {
    font-family: Verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #4C3924;
    text-decoration: none;
}

a:active {
    font-family: Verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #AC7831;
    text-decoration: none;
}


/* tabeller */
.rubrik {
    background-color: #3FB5AA;
    color: black;
}
.dark {
    background-color: #949494;
    color: black;
}
.light {
    background-color: #CFCFCF;
    color: black;
}

.hidden {
    display: none;
}