body {
    background-color: crimson;
    font-family: verdana;
    width: 80%;
    height: 100%;
    align: center;
    top: 0;
    margin-top: 0px;
    margin: auto;
}

html{
    height: 100%;
}

/* Textutseende */
.outerWrapper{
    background: #c0c0c0;
    height: 100%;
    border: 1px;
    border-color: black;
}
.header{
    background: #ffffff;
    position: sticky;
    /*padding: 10px;*/
    top: 0;
    height: 100px;

}

.filterWrapper{
    background: #949494;
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    padding: 5px;


            /*flex-direction: column;*/
            /*height: 100%;*/
            /*overflow: auto;*/
            /*position: fixed;*/
            /*top: 0;*/
            /*transition: left;*/
            /*padding: 10px;*/
            /*z-index: 1;*/

}
.filterResults{
    background: #f0f0f0;
    display: inline-block;
    flex-grow: 3;
    height: 100%;
    padding: 5px;
                /*padding: 10px;*/
                /*z-index: 1;*/
}
.innerWrapper{
    background: #ffffff;
    display: flex;
    height: 100%;
    justify-content: space-between;
            /*padding: 10px;*/
            height: 100%;
            /*width: 95%;*/
            z-index: 1;
}

.topResults{
    background: #949494;
    display: inline-block;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    padding: 5px;
}

li {
    font-size: 1.0em;
    font-family: Verdana;
}

h4{
    font-size: 1.0em;
    font-weight: bold;
    font-family: Verdana;
}
h2{
    text-align: right;
    alignment: right;
    font-family: Verdana;
    color: #000;
}
span{
    font-size: 1.0em;
    font-weight: normal;
    font-family: Verdana;
    vertical-align: center;
}


.fontstyle {
    font-family: verdana;
    font-size: 1.0em;
    font-style: normal;
    color: #444445;
    text-decoration: none;
}

.fontspacing {
    font-size:   10pt;
    line-height: 10pt;
}

/* Länkar */
a:link {
    font-family: verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #61482E;
    text-decoration: none;
}

/*a:hoover {*/
    /*font-family: Verdana;*/
    /*font-size: 1.1em;,,*/
/*font-style: normal;*/
    /*color: #CC9861;*/
    /*text-decoration: none;*/
/*}*/

a:visited {
    font-family: Verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #4C3924;
    text-decoration: none;
}

a:active {
    font-family: Verdana;
    font-size: 1.1em;
    font-style: normal;
    color: #AC7831;
    text-decoration: none;
}


/* tabeller */
.rubrik {
    background-color: #3FB5AA;
    color: black;
}
.dark {
    background-color: #949494;
    color: black;
}
.light {
    background-color: #CFCFCF;
    color: black;
}

.hidden {
    display: none;
}