<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
</head>
<body>

<h2>Tabell filtrering:</h2>


// Lista med checkbox
<ul>
    <li th:each="language : ${languages}">
        <input checked="true" type="checkbox" th:value="${language.id}"/>
        <label th:text="${language.name}"></label>
    </li>
</ul>

// lista över alla språk
<ol>
<li th:each="language : ${languages}">
<p th:text="${language.name}"></p>
</li>
</ol>

<!--<ul id="itemsToFilter">&ndash;&gt;-->
    <!--<li data-type= "${language.id}">Hej</li>-->
<!--</ul>-->









<!--<h2>Add tag to tutorial:</h2>-->
<!--<form>-->
<!--<p>Tag name:</p><input type="text" name="tag">-->
<!--<input type="submit" value="Add tag">-->
<!--</form>-->

</body>
</html>