<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
</head>
<body>

<h2>Tabell filtrering:</h2>


<ol>
    <li th:each="language : ${languages}">
        <p th:text="${language.name}"></p>
    </li>
</ol>

<table>
    <th:block th:each="tutorial : ${tutorials}">
        <tr>
            <td th:text="${tutorial.id}">...</td>
            <td th:text="${tutorial.title}">...</td>
            <td th:text="${tutorial.language}">...</td>
            <td th:text="${tutorial.format}">...</td>
            <td th:text="${tutorial.avgRating}">...</td>
            <td th:text="${tutorial.creationDate}">...</td>
            <td th:text="${tutorial.id}">...</td>
            <td th:text="${tutorial.descr}">...</td>
            <td th:text="${tutorial.url}">...</td>
        </tr>
    </th:block>
</table>

<!--results.getLong("id"),-->
<!--results.getString("title"),-->
<!--results.getString("language"),-->
<!--results.getString("format"),-->
<!--results.getDouble("avgRating"),-->
<!--results.getTimestamp("creationDate").toLocalDateTime(),-->
<!--results.getString("descr"),-->
<!--results.getString("url")));-->





<!--<h2>Add tag to tutorial:</h2>-->
<!--<form>-->
<!--<p>Tag name:</p><input type="text" name="tag">-->
<!--<input type="submit" value="Add tag">-->
<!--</form>-->

</body>
</html>