<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <!-- Add icon library -->
    <title>TeachMe - Tech</title>

</head>
<body>

<div class="outerWrapper">

    <header class="header">
        <h2><img id="logo" src="logotype.png" width="440" height="100"/></h2>
    </header>


    <div class="innerWrapper">
        <div class="filterWrapper">
            <h3>Select all that apply:</h3>

            <p class="title">Language:</p>
            <label class="wrapper" th:each="language : ${languages}">
                <input type="checkbox" class="languageCheckbox" th:value="${language.name}"/>
                <span class="checkBoxSpan" th:text="${language.name}"></span>
                <span class="checkmark"></span>
            </label>


            <p class="title">Format:</p>
            <label class="wrapper" th:each="format : ${formats}">
                <input type="checkbox" class="formatCheckbox" th:value="${format.name}"/>
                <span class="checkBoxSpan" th:text="${format.name}"></span>
                <span class="checkmark"></span>
            </label>

            <p class="title">Tags:</p>
            <label class="wrapper" th:each="tag : ${tags}">
                <input type="checkbox" class="tagCheckbox" th:value="${tag}"/>
                <span class="checkBoxSpan" th:text="${tag}"></span>
                <span class="checkmark"></span>
            </label>


        </div>

        <div class="filterResults">
            <div class="instructions">
                <h3>Welcome to TeachMe Tech!</h3>
                <p>
                    Nice to see you here.<br/><br/>
                    So what language or technique are you curious about? Tick the relevant boxes.<br/>
                    Then: Which format do you prefer? You guessed it, tick the box!<br/>
                    The last step is to select the tags that fit your style.<br/>
                    Also, please rate! It will help others to find the most relevant
                    tutorials.
                    <br/>
                    <br/>
                    Have fun and keep on learning!
                </p>
            </div>
            <ul id="returnedLanguages">
            </ul>
        </div>
        <div class="topResults">
            <h3>Toplist</h3>
            <ol>
                <li th:each="tutorial : ${topList}">
                    <p th:text="${tutorial.title}"></p>
                    <a th:text="${tutorial.url}" th:href="@{${tutorial.url}}" target="_blank"></a>
                </li>
            </ol>
        </div>
    </div>
    <p>Suggest a tutorial? </p> <a href="mailto:teachmetech@gmail.com">Contact admin!</a>
</div>
<script src="script.js"></script>
</body>
</html>