<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <title>Admin</title>

</head>
<body>

<div class="outerWrapper">

    <header class="header">
        <h2>TeachMe - Tech:</h2>
    </header>
    <div class="innerWrapper">

        <div class="filterWrapper">
            <h3>Select all that apply:</h3>
            <p>Language:</p>
            <div class="wrapper" th:each="language : ${languages}">
                <input type="checkbox" class="languageCheckbox" th:value="${language.name}"/>
                <span class="checkBoxSpan" th:text="${language.name}"></span>
            </div>


            <h3>Select the formats you'd like to see:</h3>
            <p>Format:</p>
            <div class="wrapper" th:each="format : ${formats}">
                <input type="checkbox" class="formatCheckbox" th:value="${format.name}"/>
                <span class="checkBoxSpan" th:text="${format.name}"></span>
            </div>
        </div>

        <div class="filterResults">
            <ul id="returnedLanguages">
            </ul>
        </div>
        <div class="topResults">
            <h3>Toplist</h3>
            <ol >
                <li th:each="tutorial : ${topList}">
                    <p th:text="${tutorial.title}"></p>
                    <a th:text="${tutorial.url}" th:href="@{${tutorial.url}}" target="_blank"></a>
                </li>
            </ol>
        </div>
    </div>

</div>
<script src="script.js"></script>
</body>
</html>